.Team-page .navbar a{
color: black !important;
}
.Team-page .navbar-logo{
    filter: none !important;
}
.Team-page{
    margin-top: 120px;
}
.team-text{
    font-size: 23px;
    font-family: sans-seri;
}
.team-text a{
    font-size: 23pt;
}
.Teams section{
    display: flex;
}
.Team {
  display: flex;
  justify-content: center !important;
  gap: 20px;     
  justify-content: center; 
}
.member{
    text-align: center;
    font-size: 23px;
    font-family:sans-seri ;
}


@media(max-width:600px){
    .Team{
        display: flex;
        flex-wrap: wrap;
    }
    .Team{
        margin: 33px;
    }
}
@media(max-width:1000px) and (min-width:601px){
    .Team{
        display: flex;
        flex-wrap: wrap;
    }
    .Team img{
        width: 80vw;
}
}